@import 'reset.css'
@import 'mixins'

body
  color: colors.text
  font: normal 22px arial sans-serif

a.highlight
  color: colors.highlight.text

header
  background: colors.header.bg
  nav
    ul
      text-align: center
      padding: 7px 0
      li
        margin: 0 10px 0 0
        display: inline-block
        a
          text-decoration: none
          color: colors.linkText
        a:hover
          color: colors.highlight.text

main
  background: colors.main.bg
  padding: 15px
  ul
    li
      display: inline-block
      width: 25%
      box-sizing: border-box
      vertical-align: top
      padding: 8px
      text-align: center
      img
        width: 100%
      h2
        font-size: 26px
        font-weight: 600
        margin: 0 0 7px 0
      h3
        margin: 0 0 7px 0

@media (max-width: 1000px)
  main
    ul
      li
        width: 50%;

@media (max-width: 730px)
  header
    nav
      ul
        li
          margin: 0
          width: 50%

  main
    ul
      li
        width: 100%
