@import 'reset.css';
body {
  color: #000;
  font: normal 22px arial sans-serif;
}
a.highlight {
  color: #f00;
}
header {
  background: #000;
}
header nav ul {
  text-align: center;
  padding: 7px 0;
}
header nav ul li {
  margin: 0 10px 0 0;
  display: inline-block;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
}
header nav ul li a:hover {
  color: #f00;
}
main {
  background: #d6d7d8;
  padding: 15px;
}
main ul li {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  vertical-align: top;
  padding: 8px;
  text-align: center;
}
main ul li img {
  width: 100%;
}
main ul li h2 {
  font-size: 26px;
  font-weight: 600;
  margin: 0 0 7px 0;
}
main ul li h3 {
  margin: 0 0 7px 0;
}
@media (max-width: 1000px) {
  main ul li {
    width: 50%;
  }
}
@media (max-width: 730px) {
  header nav ul li {
    margin: 0;
    width: 50%;
  }
  main ul li {
    width: 100%;
  }
}
